#app-container{
    width: 100%;
    height: 100%;
 
}

#app-innercontainer {

    width: 100%;
    height: 100%;
    display: flex;
    

}

#app-left {
    width: 35%;
    height:600px;
    background-color: yellowgreen;
    
}

#app-right {
    width: 65%;
    height:600px;
    background-color: lightcoral;
}