<div id="ct-form">
        <label>Add New Contact:</label> 

        <table>
            <tr>Name    :<input type="text" #ctName /></tr>
            <tr>Email   :<input email #ctEmail /></tr>
            <tr>Address :<input type="text" #ctAddress /></tr>
            <tr>Phone   :<input type="number" #ctPhone /></tr>
        </table>
        <!--id      :<input type="number" #ctID />-->
                      

        <button (click)="addContact(ctName.value,ctEmail.value,ctAddress.value,ctPhone.value);ctName.value='';ctEmail.value='';ctAddress.value='';ctPhone.value='';">
        Add
        </button>
</div>