<div *ngIf="cnt_details">
    <div >
        <h1>{{cnt_details.name}} Details</h1>
        <table>
            <tr>{{cnt_details.id}}</tr>            
            <tr>{{cnt_details.name}}</tr>
            <tr>{{cnt_details.address}}</tr>
            <tr>{{cnt_details.email}}</tr>
            <tr>{{cnt_details.phone}}</tr>
        </table>    
    </div>
    <a *ngIf="auth.isAuthenticated()" [routerLink]="['../edit',cnt_details.id]" style="color:brown">Edit</a>
    <a *ngIf="auth.isAuthenticated()" [routerLink]="['../delete',cnt_details.id]" style="color:brown">Delete</a>
    
</div>

